<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <img src="/images/Portugal_road_sign_B2.svg.png" width="400" height="350"/>
                </NotAuthorized>
                <!--<FocusOnNavigate RouteData="@routeData" Selector="h1" />-->
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Não encontrado</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
