@page "/roles"
@using Justo.Models.Users

@inject IRoleService roleService
@inject IWebHostEnvironment Env

<h2>perfis</h2>

<br />
<div class="row">
    <div class="col-4">
        <a href="/AddRole">
            <button class="btn btn-primary">Criar novo Perfil</button>
        </a>
    </div>
</div>

<br />
<Alerta Exibir="Exibir">
    <h3>@Mensagem</h3>
</Alerta>

@if(roles == null)
{
    <div class="d-flex justify-content-center">
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Normalizado</th>
                <th>TimeStamp</th
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in roles)
            {
                <tr>
                    <td>@role.Id</td>
                    <td>@role.Name</td>
                    <td>@role.NormalizedName</td>
                    <td>@role.ConcurrencyStamp</td>
                    <td>
                        <a href="/EditRole/@role.Id">
                            <button class="btn btn-primary">Editar Perfil</button>
                        </a>
                        <a href="/DeleteRole/@role.Id">
                            <button class="btn btn-primary">Deletar Perfil</button>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<Role> roles;
    bool Exibir = false;

    [Parameter]
    public string Mensagem { get; set; }


    protected override async Task OnInitializedAsync()
    {
        try
        {
            roles = await roleService.GetRoles();
        }
        catch(Exception ex)
        {
            Exibir = true;
            if (Env.IsDevelopment())
            {
                Mensagem = "Erro ao acessar os dados " + ex.StackTrace.ToString() + "\n\n " + ex.Message;
            }
            else
            {
                Mensagem = "Não foi possível acessar os dados do perfil do usuário";
            }
        }

    }

}
